Olá <%=@resource%>!
<p>Here's your new account password for In a Dash!</p>
<p><b><%=@password%></b></p>
<p>To ensure account safety, change this password as soon as possible.<p>
<p>Regards,</p>
<p>In a Dash staff</p>
